{% comment %}
Este include genera en un párrafo cómo debe citarse un artículo
y recibe como parámetros:
'titulo' -> El título del artículo del que genera la cita
'fecha'  -> La fecha del artículo que se cita, sin formato alguno
'link'   -> URL del artículo que cita
{% endcomment %}

{% assign mes = include.fecha | date: "%-m" %}
{% assign dia = include.fecha | date: "%-d" %}
{% assign anio = include.fecha | date: "%Y" %}
{% case mes %}
  {% when '1'%}{%assign mes = "enero" %}
  {% when '2'%}{%assign mes = "febrero" %}
  {% when '3'%}{%assign mes = "marzo" %}
  {% when '4'%}{%assign mes = "abril" %}
  {% when '5'%}{%assign mes = "mayo" %}
  {% when '6'%}{%assign mes = "junio" %}
  {% when '7'%}{%assign mes = "julio" %}
  {% when '8'%}{%assign mes = "agosto" %}
  {% when '9'%}{%assign mes = "septiembre" %}
  {% when '10'%}{%assign mes = "octubre" %}
  {% when '11'%}{%assign mes = "noviembre" %}
  {% when '12'%}{%assign mes = "diciembre" %}
{% endcase %}

<p id="citeThis">
	{{ site.name }} - {{ site.ipSecc}}. ({{anio}}, {{ dia }} de {{ mes }}). <i>{{ include.titulo }}</i>.  Obtenido de {{ site.url }}{{ site.baseurl }}{{ include.link }}
</p>