		{% include G-HBar.html %}
		<nav id="NavUl">
			<ul id="MainUl">
				<li data-son="MKarel"><span>Karel</span><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li data-son="MC"><span>C++</span><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li data-son="MProb"><span>Problemas</span><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li><a href="{{ site.baseurl }}/Recursos/Descargables/">Recursos</a></li>
				<li data-son="MMIP"><span>Más de #iP</span><i class="fa fa-caret-down" aria-hidden="true"></i></li>
			</ul>

			<ul id="MKarel">
				<li data-son="MKStart"><span>Para empezar</span><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li data-son="MKIns"><span>Instrucciones</span><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li><a href="{{ site.baseurl }}/Karel/Funciones/">Funciones</a></li>
				<li data-son="MKRec"><span>Recursión</span><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li><a href="{{ site.baseurl }}/Topicos-adicionales/Karel/">Tópicos adicionales</a></li>
			</ul>

			<ul id="MKStart">
				<li><a href="{{ site.baseurl }}/Karel/Principio/Karel/">Karel el robot</a></li>
				<li><a href="{{ site.baseurl }}/Karel/Principio/Mundo/">Mundo de Karel</a></li>
				<li><a href="{{ site.baseurl }}/Karel/Principio/Zumbadores/">Zumbadores</a></li>
				<li><a href="{{ site.baseurl }}/Karel/Principio/Simulador/">El simulador</a></li>
			</ul>
			<ul id="MKIns">
				<li><a href="{{ site.baseurl }}/Karel/Instrucciones/Lineales/">Lineales</a></li>
				<li><a href="{{ site.baseurl }}/Karel/Instrucciones/Condicionales/">Condicionales</a></li>
				<li><a href="{{ site.baseurl }}/Karel/Instrucciones/Ciclicas/">Cíclicas</a></li>
			</ul>
			<ul id="MKRec">
				<li><a href="{{ site.baseurl }}/Karel/Recursion/">Idea de recursión</a></li>
				<li><a href="{{ site.baseurl }}/Karel/Recursion/Simple/">Recursión simple</a></li>
				<li><a href="{{ site.baseurl }}/Karel/Recursion/Parametros/">Recursión con parámetros</a></li>
			</ul>

			<ul id="MC">
				<li data-son="MCInt"><span>Introducción</span><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li data-son="MCEst"><span>Estructuras</span><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li data-son="MCSTL"><span>STL</span><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li><a href="{{ site.baseurl }}/C++/Recursion/">Recursión</a></li>
				<li><a href="{{ site.baseurl }}/Topicos-adicionales/C++/">Tópicos adicionales</a></li>
			</ul>
			<ul id="MCInt">
				<li data-son="MCIAnt"><span>Antes de empezar</span><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li><a href="{{ site.baseurl }}/C++/Introduccion/Librerias/">Librerías</a></li>
				<li><a href="{{ site.baseurl }}/C++/Introduccion/Variables/">Variables</a></li>
				<li><a href="{{ site.baseurl }}/C++/Introduccion/Funciones/">Funciones</a></li>
				<li><a href="{{ site.baseurl }}/C++/Introduccion/Operadores/">Operadores</a></li>
				<li><a href="{{ site.baseurl }}/C++/Introduccion/Punteros/">Punteros</a></li>
				<li><a href="{{ site.baseurl }}/C++/Introduccion/Sentencias/">Sentencias</a></li>
				<li><a href="{{ site.baseurl }}/C++/Introduccion/Arreglos/">Arreglos</a></li>
			</ul>
			<ul id="MCIAnt">
				<li><a href="{{ site.baseurl }}/C++/Lenguaje/">Lenguaje C++</a></li>
				<li><a href="{{ site.baseurl }}/C++/Introduccion/">La programación</a></li>
				<li><a href="{{ site.baseurl }}/C++/Introduccion/Compilador/">Compilador</a></li>
			</ul>
			<ul id="MCEst">
				<li><a href="{{ site.baseurl }}/C++/Estructuras/Struct/">Struct</a></li>
				<li><a href="{{ site.baseurl }}/C++/Estructuras/Class/">Class</a></li>
				<li><a href="{{ site.baseurl }}/C++/Estructuras/Pila/">Pila</a></li>
				<li><a href="{{ site.baseurl }}/C++/Estructuras/Cola/">Cola</a></li>
			</ul>
			<ul id="MCSTL">
				<li><a href="{{ site.baseurl }}/C++/STL/">STL</a></li>
				<li><a href="{{ site.baseurl }}/C++/STL/Vector/">Vector</a></li>
				<li><a href="{{ site.baseurl }}/C++/STL/String/">String</a></li>
				<li><a href="{{ site.baseurl }}/C++/STL/Queue/">Queue</a></li>
				<li><a href="{{ site.baseurl }}/C++/STL/Stack/">Stack</a></li>
				<li><a href="{{ site.baseurl }}/C++/STL/List/">List</a></li>
				<li><a href="{{ site.baseurl }}/C++/STL/Pair/">Pair</a></li>
			</ul>

			<ul id="MProb">
				<li><a href="{{ site.baseurl }}/C++/omegaUp/">omegaUp</a></li>
				<li><a href="{{ site.baseurl }}/Karel/Karelotitlan/">Karelotitlán</a></li>
				<li><a href="{{ site.baseurl }}/Problemas-resueltos/C++/">Resueltos C++</a></li>
			</ul>
			
			<ul id="MMIP">
				<li><a href="{{ site.url }}/Acerca-de/">Acerca de</a></li>
				<li data-son="MCur"><span>Cursos</span><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li><a href="{{ site.url }}/Contacto/">Contacto</a></li>
				<li><a href="{{ site.baseurl }}/Motivacion/">¡Motivate!</a></li>
				<li><a href="{{ site.url }}/Blog/">Blog</a></li>
			</ul>
			<ul id="MCur">
				<li><a href="{{ site.baseurl }}/">Olimpiada de Informática</a></li>
				<!--<li><a href="{{ site.url }}/Notes/Biology/">Apuntes de biología</a></li>-->
			</ul>
		</nav>